### Editors ###
.idea
*.vscode/

### Server ###
server/target/
server/dist/
server/build/
*.iml
*.ipr
*.iws
server/src/main/resources/application.properties

### App ###
app/build/
*.pub-cache
*.pub/
*.dart_tool/
*.history
*.class
*.flutter-plugins
*.flutter-plugins-dependencies
